body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

h1 {
  width: 255px;
  margin: 0 auto 8px;
  font-family: "Georgia", serif;
  text-align: center;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
}

h2 {
  border-bottom: 2px solid #cccccc;
  padding-bottom: 12px;
}

.container {
  width: 510px;
  margin: 0 auto;
  padding: 0;
}

.site-header {
  min-width: 550px;
  height: 186px;
  margin-bottom: 70px;
  padding-top: 30px;
  background: #847462 no-repeat center url("img/orig.webp");
  background-size: cover;
  color: #ffffff;
}

.site-header p {
  width: 255px;
  margin: 0 auto 26px;
  text-align: center;
  font-size: 16px;
  line-height: 24px; 
}

.site-header img {
  display: block;
  margin: 0 auto;
}

.features {
  width: 510px;
  margin: 0 auto 30px;
  padding: 0 20px;
}

.features p {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
}

.feature-furniture {
  padding-top: 400px;
  background-image: url(img/dog-100-225x300.png")
}

.feature-lighting {
  padding-top: 400px;
  background-image: url("img/dog-100-225x300.png");
}

.feature-accessories {
  padding-top: 400x;
  background-image: url("img/dog-100-225x300.png");
}

.advantages {
  width: 510px;
  margin: 0 auto 40px;
  padding: 0 20px;
}

.advantages-list {
  padding: 0;
  list-style: none;  
}

.advantages-item {
  margin-bottom: 15px;
  padding-left: 20px;
  border-left: 20px solid #573004;
  color: #462c06f1;
}

.standard {
  border-color: hsl(27, 100%, 23%);
  color: #472506;
}

.vip {
  border-color: hsl(29, 100%, 20%);
  color: #382102;
}

.site-footer {
  min-width: 550px;
  background-color: #5a2400;
  color: #ff88002f;
}

.site-footer .container {
  text-align: center;
}

.site-footer p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}


